fastapi==0.135.3
uvicorn[standard]==0.44.0
SQLAlchemy==2.0.49
PyMySQL==1.1.2
psycopg2-binary==2.9.12
cryptography==46.0.7
boto3==1.42.88
eth-account==0.13.7
httpx==0.28.1
web3==7.15.0
websockets==13.1
scrfd==0.3.0
pillow==12.2.0
numpy==2.2.6
